<a href="https://colab.research.google.com/github/wViniciusLuzw/logicaprogramacaopython/blob/main/logicaprogramacaopython/Exercicios_de_listas_tuplas_dicionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Todos os exercícios

# **Exercícios**

##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [ ]:
# seu código aqui...
cidades = ['Ribeirão Pires', 'Maúa', 'São Bernardo', 'Santo André', 'Votuporanga']
cidades.append("Jundiaí")
del cidades[1]
cidades

['Ribeirão Pires', 'São Bernardo', 'Santo André', 'Votuporanga', 'Jundiaí']

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [ ]:
# seu código aqui...
cores = ("Amarelo", "Azul", "Vermelho", "Rosa")
novas_cores = cores + ("Roxo", "Verde",)
novas_cores

('Amarelo', 'Azul', 'Vermelho', 'Rosa', 'Roxo', 'Verde')

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [ ]:
aluno = {
    "nome": "Vinicius",
    "idade": 15,
    "curso": "TI"
}
aluno["idade"] = 16
aluno["nota"] = 9
print(aluno)

{'nome': 'Vinicius', 'idade': 16, 'curso': 'TI', 'nota': 9}

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [ ]:
# seu código aqui...
lista = [{"nome" : "BATATA", "preço" : 200}, {"nome" : "CENOURA", "preço" : 100}]
lista.append({"nome" : "TOMATE", "preço" : 200})
lista[0]["preço"] = 500
lista

[{'nome': 'BATATA', 'preço': 500},
 {'nome': 'CENOURA', 'preço': 100},
 {'nome': 'TOMATE', 'preço': 200}]

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [ ]:
# seu código aqui...
listaalunos = [("Cintia", 42), ("Pedro", 35)]

med = 0
maior = 0
nome = 0
ano = 0
for i in listaalunos:
  if (i[1] > maior):
    nome = i[0]
    maior = i[1]
  med = i[1] + med
print("A média das idades é",med/len(listaalunos))
print("A pessoa mais velha é", nome, "com", maior)

A média das idades é 38.5
A pessoa mais velha é Cintia com 42

# **Exercícios**

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
print(x)

H

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
txt[2:5]

'llo'

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt.upper()

'HELLO WORLD'

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Python"
txt.count("de")

3

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de viajar, tomar vinho, de estudar estudar programação, de estudar Python"
txt.split(",")

['Eu gosto de viajar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']

In [ ]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.
var = input(str(""))
frase = var.replace(" ", "#")
print(frase)

Pão de Batata
Pão#de#Batata

In [ ]:
r

In [ ]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma
var1 = input(str(""))
var2 = input(str(""))
var3 = var2[::-1]
print("As palavras são palíndromas mútuas")
var1 == var3

arara
oi

False

In [ ]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.
var = input(str(""))
tr = var.upper()
tr[::-1]

ARTHUR

'RUHTRA'

# **Exercícios**

## 1. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [ ]:
# Seu código aqui...
lista = [1, 2, 3, 4, 5]
sum(lista)

15

## 2. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [ ]:
# Seu código aqui...
lista2 = [1, 2, 3, 4, 5]
prod = 1
for i in lista2:
  prod = prod * i
print(prod)

120

## 3. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [ ]:
# Seu código aqui...
lista3 = [1, 2, 3, 4, 5]
min(lista3)

1

## 4. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [ ]:
# Seu código aqui...
lista4 = [1, 2, 3, 4, 5]
max(lista4)

5

## 5. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [ ]:
# Seu código aqui...
lista5 = [1, 2, 3, 4, 3, 2, 1]
alvo = 2
lista5.count(alvo)

2

## 6. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [ ]:
# Seu código aqui...
lista6 = [1, 2, 2, 3, 4, 4, 5]
newlist = []
listdup = []
for i in lista6:
  var = lista6.count(i)
  if not i in listdup:
    if (var == 1):
      newlist.append(i)
    elif (var > 1):
      newlist.append(i)
      listdup.append(i)
print(newlist)
print(listdup)

[1, 2, 3, 4, 5]
[2, 4]

In [ ]:
lista6 = [1, 2, 2, 3, 4, 4, 5]
list(set(lista6))

[1, 2, 3, 4, 5]

## 7. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [ ]:
# Seu código aqui...
lista6 = [1, 2, 3, 4, 5]
lista6[::-1]

[5, 4, 3, 2, 1]

## 8. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [ ]:
# Seu código aqui...
lista81 = [1, 3, 5]
lista82 = [2, 4, 6]
newlist = []
cont = 0
for i in range(0, len(lista81)):
  newlist.append(lista81[i])
  newlist.append(lista82[i])
print(newlist)

[1, 2, 3, 4, 5, 6]

## 9. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [ ]:
# Seu código aqui...
lista91 = [1, 2, 3]
lista92 = [4, 5, 6]
listcot = []
cont = 0
while cont < 3:
  listcot.append(lista91[cont] + lista92[cont])
  cont = cont + 1
print(listcot)

[5, 7, 9]

## 10. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [ ]:
# Seu código aqui...
lista10 = [0, 1, 0, 3, 12]
for i in lista10:
  if i == 0:
    lista10.remove(i)
    lista10.append(i)
print(lista10)

[1, 3, 12, 0, 0]